*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	background: #fcfefa;
	background: linear-gradient(139deg,#4bd329cb 0%,#de4a0bb6 90%);
}
h1{
	color: darkblue;
	text-align: center;
	justify-content: center;
	font-size: 40px;
}
.container{
	position: relative;
	max-width: 800px;
	padding: 10px;
	margin: 50px auto;
}
.task{
	width: 100%;
	display: flex;
	padding: 10px 0;
}
.task > input[type="text"]{
	width: 90%;
	color: rgb(156, 18, 105);
	border:none;
	border-bottom: 2px solid rgb(163, 12, 115);
	background: none;
	padding: 10px;
	font-size: 22px;
	outline: none;
}
.task button{
	margin: 0 10px;
	background: #222;
	color: rgb(250, 247, 252);
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
.pending {
	margin: 5px 0;
	padding: 20px;
}
.Completed{
	margin: 5px 0;
	padding: 20px;
}
h3{
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	color: rgb(18, 18, 19);
}
ol{
	list-style: none;
	counter-reset: my-counter;
}
ol li{
	width: 100%;
	padding: 18px;
	margin: 5px 0;
	background: #ef4141dd;
	font-size: 22px;
	counter-increment: my-counter;
}
ol.Completed li{
	background: #1bc318;
}
ol li::before{
	content: counter(my-counter);
	background: #231381;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	line-height: 2rem;
	text-align: center;
	color: rgb(246, 239, 239);
	margin-right: 0.5rem;
}
li button{
	float: right;
	padding: 5px;
	font-size: 28px;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}